.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &-checkbox:checked + label {
        text-decoration: line-through;
    }
}

.list-group {
    height: 80%;
    overflow-y: auto;
}
