.todoinput {
    border-radius: 15px;
    width: 80%;
    height: 35px;
    border: 1px solid #000;
    background-color: white;
    padding: 10px;
    font-size: 16x;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    
}